/* ORANGE COLOR SCHEME */
.main.light.orange .sidebar_menu-item-project:hover,
.main.light.orange .sidebar_menu-item-project.active,
.main.light.orange .sidebar-menu-history-item:not(.none):hover,
.main.light.orange .sidebar-menu-history-item:not(.none).active
{
    background-color: #FF4F0020;
}
/* ORANGE COLOR SCHEME */
.main.dark.orange .sidebar_menu-item-project:hover,
.main.dark.orange .sidebar_menu-item-project.active,
.main.dark.orange .sidebar-menu-history-item:not(.none):hover,
.main.dark.orange .sidebar-menu-history-item:not(.none).active
{
    background-color: #FF4F0080;
}
.main.orange .sidebar-item-block:hover,
.main.orange .sidebar-item-block.active
{
    background-color: #FF4F0020;
}
.main.orange #button-login {
    background-color: #FF4F00;
    border: 1px solid #FF4F00;
}
@media (hover :hover) {
    .main.orange #button-login:hover {
        background-color: transparent;
        border: 1px solid #FF4F00;
    }
}
@media (hover :none) {
    .main.orange #button-login:active {
        background-color: transparent;
        border: 1px solid #FF4F00;
    }
}
.main.light.orange .sidebar_settings-menu-item.active {
    background-color: #FF4F0040;
}
.main.dark.orange .sidebar_settings-menu-item.active {
    background-color: #FF4F0080;
}
.main.orange .table-cols-item.active {
    background-color: #FF4F00;
}
.main.orange .table-cols-item {
    background-color: #FF4F0080;
}
.main.light.orange .table-body-row.selected
{
    background-color: #FF4F0030;
}
.main.dark.orange .table-body-row.selected
{
    background-color: #FF4F0060;
}
.main.orange .table-body-row.context-selected
{
    /* background-color: #FF4F0015; */
    background-color: #FF4F0020;
}
.main.orange .main_content-panel-content-item table tbody tr:hover,
.main.orange .main_content-panel-content-item table tbody tr.active,
.main.orange tr.bg_row
{
    background-color: #FF4F0040;
}
.main.orange .modal-security-form-btn {
    border: 1px solid #FF4F00;
}
.main.orange .modal-security-form-btn.edit {
    background-color: #FF4F00;
}
@media (hover :hover) {
    .main.orange .modal-security-form-btn.edit:hover {
        box-shadow: 0 0 7px #FF4F00;
    }
}
@media (hover :active) {
    .main.orange .modal-security-form-btn.edit:active {
        box-shadow: 0 0 7px #FF4F00;
    }
}

/* BLUE COLOR SCHEME */
.main.blue .sidebar_menu-item-project:hover,
.main.blue .sidebar_menu-item-project.active,
.main.blue .sidebar-menu-history-item:not(.none):hover,
.main.blue .sidebar-menu-history-item:not(.none).active
{
    background-color: #7EBBF020;
}
.main.blue .sidebar-item-block:hover,
.main.blue .sidebar-item-block.active
{
    background-color: #7EBBF020;
}
.main.blue #button-login {
    background-color: #7EBBF0;
    border: 1px solid #7EBBF0;
}
@media (hover :hover) {
    .main.blue #button-login:hover {
        background-color: #7EBBF050;
        border: 1px solid #7EBBF010;
        color: #000;
    }
}
@media (hover :none) {
    .main.blue #button-login:active {
        background-color: #7EBBF050;
        border: 1px solid #7EBBF010;
    }
}
.main.light.blue .sidebar_settings-menu-item.active {
    background-color: #7EBBF040;
}
.main.dark.blue .sidebar_settings-menu-item.active {
    background-color: #7EBBF080;
}
.main.blue .table-cols-item.active {
    background-color: #7EBBF0;
}
.main.blue .table-cols-item {
    background-color: #7EBBF080;
}
.main.blue .table-body-row.selected
{
    background-color: #7EBBF040;
}
.main.blue .table-body-row.context-selected
{
    background-color: #7EBBF015;
}
.main.blue .main_content-panel-content-item table tbody tr:hover,
.main.blue .main_content-panel-content-item table tbody tr.active,
.main.blue tr.bg_row
{
    background-color: #7EBBF040;
}
.main.blue .modal-security-form-btn {
    border: 1px solid #7EBBF0;
}
.main.blue .modal-security-form-btn.edit {
    background-color: #7EBBF0;
}
@media (hover :hover) {
    .main.blue .modal-security-form-btn.edit:hover {
        box-shadow: 0 0 7px #7EBBF0;
    }
}
@media (hover :active) {
    .main.blue .modal-security-form-btn.edit:active {
        box-shadow: 0 0 7px #7EBBF0;
    }
}

/* GRAY COLOR SCHEME */
.main.gray .sidebar_menu-item-project:hover,
.main.gray .sidebar_menu-item-project.active,
.main.gray .sidebar-menu-history-item:not(.none):hover,
.main.gray .sidebar-menu-history-item:not(.none).active
{
    background-color: #91919120;
}
.main.gray .sidebar-item-block:hover,
.main.gray .sidebar-item-block.active
{
    background-color: #91919120;
}
.main.gray #button-login {
    background-color: #919191;
    border: 1px solid #919191;
}
@media (hover :hover) {
    .main.gray #button-login:hover {
        background-color: #91919150;
        border: 1px solid #91919110;
    }
}
@media (hover :none) {
    .main.gray #button-login:active {
        background-color: #91919150;
        border: 1px solid #91919110;
    }
}
.main.light.gray .sidebar_settings-menu-item.active {
    background-color: #91919140;
}
.main.dark.gray .sidebar_settings-menu-item.active {
    background-color: #91919180;
}
.main.gray .table-cols-item.active {
    background-color: #919191;
}
.main.gray .table-cols-item {
    background-color: #91919180;
}
.main.gray .table-body-row.selected
{
    background-color: #91919140;
}
.main.gray .table-body-row.context-selected
{
    background-color: #91919115;
}
.main.gray .main_content-panel-content-item table tbody tr:hover,
.main.gray .main_content-panel-content-item table tbody tr.active,
.main.gray tr.bg_row
{
    background-color: #91919140;
}
.main.gray .modal-security-form-btn {
    border: 1px solid #919191;
}
.main.gray .modal-security-form-btn.edit {
    background-color: #919191;
}
@media (hover :hover) {
    .main.gray .modal-security-form-btn.edit:hover {
        box-shadow: 0 0 7px #919191;
    }
}
@media (hover :active) {
    .main.gray .modal-security-form-btn.edit:active {
        box-shadow: 0 0 7px #919191;
    }
}

/* GREEN COLOR SCHEME */
.main.green .sidebar_menu-item-project:hover,
.main.green .sidebar_menu-item-project.active,
.main.green .sidebar-menu-history-item:not(.none):hover,
.main.green .sidebar-menu-history-item:not(.none).active
{
    background-color: #4ad44a20;
}
.main.green .sidebar-item-block:hover,
.main.green .sidebar-item-block.active
{
    background-color: #4ad44a20;
}
.main.green #button-login {
    background-color: #4ad44a;
    border: 1px solid #4ad44a;
}
@media (hover :hover) {
    .main.green #button-login:hover {
        background-color: #4ad44a50;
        border: 1px solid #4ad44a10;
    }
}
@media (hover :none) {
    .main.green #button-login:active {
        background-color: #4ad44a50;
        border: 1px solid #4ad44a10;
    }
}
.main.light.green .sidebar_settings-menu-item.active {
    background-color: #4ad44a40;
}
.main.dark.green .sidebar_settings-menu-item.active {
    background-color: #4ad44a80;
}
.main.green .table-cols-item.active {
    background-color: #4ad44a;
}
.main.green .table-cols-item {
    background-color: #4ad44a80;
}
.main.green .table-body-row.selected
{
    background-color: #4ad44a40;
}
.main.green .table-body-row.context-selected
{
    background-color: #4ad44a15;
}
.main.green .main_content-panel-content-item table tbody tr:hover,
.main.green .main_content-panel-content-item table tbody tr.active,
.main.green tr.bg_row
{
    background-color: #4ad44a40;
}
.main.green .modal-security-form-btn {
    border: 1px solid #4ad44a;
}
.main.green .modal-security-form-btn.edit {
    background-color: #4ad44a;
}
@media (hover :hover) {
    .main.green .modal-security-form-btn.edit:hover {
        box-shadow: 0 0 7px #4ad44a;
    }
}
@media (hover :active) {
    .main.green .modal-security-form-btn.edit:active {
        box-shadow: 0 0 7px #4ad44a;
    }
}