.open_doc-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.open_document-header {
    width: 100%;
    display: grid;
    grid-template-columns: 10% auto 10%;
    align-items: center;
    padding: 5px 20px;
}
#open_doc-btn {
    width: 60px;
    height: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}
#open_doc-btn img {
    width: 30px;
    height: 20px;
}
.open_doc-title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.open_doc-btns {
    display: flex;
    gap: 15px;
    justify-content: right;
}
.open_doc-btn {
    cursor: pointer;
    width: 20px;
    height: 20px;
    overflow: hidden;
}
.open_doc-btn img {
    width: 20px;
    height: 20px;
    opacity: .5;
}
.open_document-main {
    width: 100%;
    flex-grow: 1;
    min-height: 0;
}
.open_document-main iframe {
    width: 100%;
    height: 100%;
}

.download-window {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.download-window-content {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.download-window-content span {
    width: 100%;
    text-align: center;
}
.download-window-content a {
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    padding: 5px 10px;
    transition: all .3s ease;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

@media ( max-width: 767px ) {
    .open_document-header {
        grid-template-columns: 60px auto 60px;
        padding: 5px 10px;
    }
    .open_doc-btns {
        gap: 5px;
    }
    .open_doc-btn {
        width: 25px;
        height: 25px;
    }
    .open_document-main iframe {
        width: 100%;
        height: 100%;
    }
}